#z_score
z=(x-mean)/sd

In [2]:
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings("ignore")

In [3]:
import scipy.stats as stats

In [4]:
data=[6,10,7,11,20,22,13,14,56,300]

In [5]:
stats.zscore(data)

array([-0.46501444, -0.41839645, -0.45335994, -0.40674195, -0.30185148,
       -0.27854248, -0.38343296, -0.37177846,  0.11771042,  2.96140772])

In [6]:
df=pd.read_csv("cardio_vascular.csv")

In [7]:
df.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,52,1,0,125,212,0,1,168,0,1.0,2,2,3,0
1,53,1,0,140,203,1,0,155,1,3.1,0,0,3,0
2,70,1,0,145,174,0,1,125,1,2.6,0,0,3,0
3,61,1,0,148,203,0,1,161,0,0.0,2,1,3,0
4,62,0,0,138,294,1,1,106,0,1.9,1,3,2,0

In [8]:
df1=df.copy()

In [9]:
df1.apply(stats.zscore)

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,-0.268674,0.661504,-0.915755,-0.377636,-0.659332,-0.418878,0.891255,0.820689,-0.712287,-0.060888,0.995433,1.209221,1.089852,-1.026698
1,-0.158385,0.661504,-0.915755,0.479107,-0.833861,2.387330,-1.004049,0.254953,1.403928,1.727137,-2.243675,-0.731971,1.089852,-1.026698
2,1.716520,0.661504,-0.915755,0.764688,-1.396233,-0.418878,0.891255,-1.050593,1.403928,1.301417,-2.243675,-0.731971,1.089852,-1.026698
3,0.723923,0.661504,-0.915755,0.936037,-0.833861,-0.418878,0.891255,0.516062,-0.712287,-0.912329,0.995433,0.238625,1.089852,-1.026698
4,0.834212,-1.511706,-0.915755,0.364875,0.930822,2.387330,0.891255,-1.877438,-0.712287,0.705408,-0.624121,2.179817,-0.522122,-1.026698
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1020,0.503346,0.661504,0.055931,0.479107,-0.484803,-0.418878,0.891255,0.646617,1.403928,-0.912329,0.995433,-0.731971,-0.522122,0.973997
1021,0.613635,0.661504,-0.915755,-0.377636,0.232705,-0.418878,-1.004049,-0.354302,1.403928,1.471705,-0.624121,0.238625,1.089852,-1.026698
1022,-0.820116,0.661504,-0.915755,-1.234378,0.562371,-0.418878,-1.004049,-1.355220,1.403928,-0.060888,-0.624121,0.238625,-0.522122,-1.026698
1023,-0.489251,-1.511706,-0.915755,-1.234378,0.155137,-0.418878,-1.004049,0.429026,-0.712287,-0.912329,0.995433,-0.731971,-0.522122,0.973997
1024,-0.048097,0.661504,-0.915755,-0.663216,-1.124743,-0.418878,0.891255,-1.572811,-0.712287,0.279688,-0.624121,0.238625,1.089852,-1.026698

In [10]:
# scalling or standarization data with zscore

In [11]:
# standarization or scalling with z approachb

In [12]:
# scaling approach with sklearn libraries

In [13]:
from sklearn.preprocessing import StandardScaler

In [14]:
df2=df.copy()

In [15]:
scale=StandardScaler()

In [16]:
df2_scaled=scale.fit_transform(df2)

In [17]:
df2_scaled

array([[-0.26867367,  0.66150409, -0.91575542, ...,  1.20922066,
         1.08985168, -1.02669772],
       [-0.15838512,  0.66150409, -0.91575542, ..., -0.73197147,
         1.08985168, -1.02669772],
       [ 1.71652022,  0.66150409, -0.91575542, ..., -0.73197147,
         1.08985168, -1.02669772],
       ...,
       [-0.82011641,  0.66150409, -0.91575542, ...,  0.23862459,
        -0.52212231, -1.02669772],
       [-0.48925076, -1.51170646, -0.91575542, ..., -0.73197147,
        -0.52212231,  0.97399651],
       [-0.04809657,  0.66150409, -0.91575542, ...,  0.23862459,
         1.08985168, -1.02669772]])

In [18]:
# pl. note:- when we import any function from sklearn it return arrays format

In [19]:
# how to convert array to dataframe

In [20]:
df2_new=pd.DataFrame(df2_scaled, columns=df2.columns)

In [21]:
df2_new.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,-0.268674,0.661504,-0.915755,-0.377636,-0.659332,-0.418878,0.891255,0.820689,-0.712287,-0.060888,0.995433,1.209221,1.089852,-1.026698
1,-0.158385,0.661504,-0.915755,0.479107,-0.833861,2.387330,-1.004049,0.254953,1.403928,1.727137,-2.243675,-0.731971,1.089852,-1.026698
2,1.716520,0.661504,-0.915755,0.764688,-1.396233,-0.418878,0.891255,-1.050593,1.403928,1.301417,-2.243675,-0.731971,1.089852,-1.026698
3,0.723923,0.661504,-0.915755,0.936037,-0.833861,-0.418878,0.891255,0.516062,-0.712287,-0.912329,0.995433,0.238625,1.089852,-1.026698
4,0.834212,-1.511706,-0.915755,0.364875,0.930822,2.387330,0.891255,-1.877438,-0.712287,0.705408,-0.624121,2.179817,-0.522122,-1.026698

In [27]:
from sklearn.preprocessing import StandardScaler, MinMaxScaler, RobustScaler

In [28]:
scale=MinMaxScaler()# try at home this method

In [29]:
df3=df.copy()

In [30]:
df3_scaled=scale.fit_transform(df3)

In [31]:
df3_scaled

array([[0.47916667, 1.        , 0.        , ..., 0.5       , 1.        ,
        0.        ],
       [0.5       , 1.        , 0.        , ..., 0.        , 1.        ,
        0.        ],
       [0.85416667, 1.        , 0.        , ..., 0.        , 1.        ,
        0.        ],
       ...,
       [0.375     , 1.        , 0.        , ..., 0.25      , 0.66666667,
        0.        ],
       [0.4375    , 0.        , 0.        , ..., 0.        , 0.66666667,
        1.        ],
       [0.52083333, 1.        , 0.        , ..., 0.25      , 1.        ,
        0.        ]])

In [33]:
df3_new=pd.DataFrame(df3_scaled, columns=df3.columns)
df3_new

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,0.479167,1.0,0.000000,0.292453,0.196347,0.0,0.5,0.740458,0.0,0.161290,1.0,0.50,1.000000,0.0
1,0.500000,1.0,0.000000,0.433962,0.175799,1.0,0.0,0.641221,1.0,0.500000,0.0,0.00,1.000000,0.0
2,0.854167,1.0,0.000000,0.481132,0.109589,0.0,0.5,0.412214,1.0,0.419355,0.0,0.00,1.000000,0.0
3,0.666667,1.0,0.000000,0.509434,0.175799,0.0,0.5,0.687023,0.0,0.000000,1.0,0.25,1.000000,0.0
4,0.687500,0.0,0.000000,0.415094,0.383562,1.0,0.5,0.267176,0.0,0.306452,0.5,0.75,0.666667,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1020,0.625000,1.0,0.333333,0.433962,0.216895,0.0,0.5,0.709924,1.0,0.000000,1.0,0.00,0.666667,1.0
1021,0.645833,1.0,0.000000,0.292453,0.301370,0.0,0.0,0.534351,1.0,0.451613,0.5,0.25,1.000000,0.0
1022,0.375000,1.0,0.000000,0.150943,0.340183,0.0,0.0,0.358779,1.0,0.161290,0.5,0.25,0.666667,0.0
1023,0.437500,0.0,0.000000,0.150943,0.292237,0.0,0.0,0.671756,0.0,0.000000,1.0,0.00,0.666667,1.0
1024,0.520833,1.0,0.000000,0.245283,0.141553,0.0,0.5,0.320611,0.0,0.225806,0.5,0.25,1.000000,0.0

In [35]:
scale=RobustScaler()

In [36]:
df4=df.copy()

In [37]:
df4_scaled=scale.fit_transform(df4)

In [38]:
df4_scaled

array([[-0.30769231,  0.        , -0.5       , ...,  2.        ,
         1.        , -1.        ],
       [-0.23076923,  0.        , -0.5       , ...,  0.        ,
         1.        , -1.        ],
       [ 1.07692308,  0.        , -0.5       , ...,  0.        ,
         1.        , -1.        ],
       ...,
       [-0.69230769,  0.        , -0.5       , ...,  1.        ,
         0.        , -1.        ],
       [-0.46153846, -1.        , -0.5       , ...,  0.        ,
         0.        ,  0.        ],
       [-0.15384615,  0.        , -0.5       , ...,  1.        ,
         1.        , -1.        ]])

In [39]:
df4_new=pd.DataFrame(df4_scaled, columns=df4.columns)

In [40]:
df4_new

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,-0.307692,0.0,-0.5,-0.25,-0.437500,0.0,0.0,0.470588,0.0,0.111111,1.0,2.0,1.0,-1.0
1,-0.230769,0.0,-0.5,0.50,-0.578125,1.0,-1.0,0.088235,1.0,1.277778,-1.0,0.0,1.0,-1.0
2,1.076923,0.0,-0.5,0.75,-1.031250,0.0,0.0,-0.794118,1.0,1.000000,-1.0,0.0,1.0,-1.0
3,0.384615,0.0,-0.5,0.90,-0.578125,0.0,0.0,0.264706,0.0,-0.444444,1.0,1.0,1.0,-1.0
4,0.461538,-1.0,-0.5,0.40,0.843750,1.0,0.0,-1.352941,0.0,0.611111,0.0,3.0,0.0,-1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1020,0.230769,0.0,0.0,0.50,-0.296875,0.0,0.0,0.352941,1.0,-0.444444,1.0,0.0,0.0,0.0
1021,0.307692,0.0,-0.5,-0.25,0.281250,0.0,-1.0,-0.323529,1.0,1.111111,0.0,1.0,1.0,-1.0
1022,-0.692308,0.0,-0.5,-1.00,0.546875,0.0,-1.0,-1.000000,1.0,0.111111,0.0,1.0,0.0,-1.0
1023,-0.461538,-1.0,-0.5,-1.00,0.218750,0.0,-1.0,0.205882,0.0,-0.444444,1.0,0.0,0.0,0.0
1024,-0.153846,0.0,-0.5,-0.50,-0.812500,0.0,0.0,-1.147059,0.0,0.333333,0.0,1.0,1.0,-1.0

In [ ]:
#degree of skewness and kurtosis

In [30]:
df2.skew()

age        -0.249478
sex        -0.851449
cp          0.529455
trestbps    0.739768
chol        1.074073
fbs         1.971339
restecg     0.180440
thalach    -0.516791
exang       0.692655
oldpeak     1.210899
slope      -0.479134
ca          1.261189
thal       -0.524390
target     -0.052778
dtype: float64

In [31]:
df2.kurt()# you can keep +-5 normaly data distributed

age        -0.524644
sex        -1.277531
cp         -1.149500
trestbps    0.991221
chol        3.996803
fbs         1.889859
restecg    -1.309614
thalach    -0.080328
exang      -1.523205
oldpeak     1.314471
slope      -0.647129
ca          0.701123
thal        0.250827
target     -2.001123
dtype: float64

In [32]:
# sampling

In [33]:
df2.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,52,1,0,125,212,0,1,168,0,1.0,2,2,3,0
1,53,1,0,140,203,1,0,155,1,3.1,0,0,3,0
2,70,1,0,145,174,0,1,125,1,2.6,0,0,3,0
3,61,1,0,148,203,0,1,161,0,0.0,2,1,3,0
4,62,0,0,138,294,1,1,106,0,1.9,1,3,2,0

In [35]:
df2.shape

(1025, 14)

In [39]:
sample1=df2.sample()
sample1

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
669,66,1,1,160,246,0,1,120,1,0.0,1,3,1,0

In [43]:
sample2=df2.sample(n=4)
sample2

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
984,59,1,0,135,234,0,1,161,0,0.5,1,0,3,1
438,47,1,2,130,253,0,1,179,0,0.0,2,0,2,1
763,58,0,3,150,283,1,0,162,0,1.0,2,0,2,1
977,52,1,1,128,205,1,1,184,0,0.0,2,0,2,1

In [46]:
sample3=df2.sample(frac=0.01)
sample3

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
1007,56,1,3,120,193,0,0,162,0,1.9,1,0,3,1
729,55,0,1,135,250,0,0,161,0,1.4,1,0,2,1
599,63,0,1,140,195,0,1,179,0,0.0,2,2,2,1
538,46,1,0,120,249,0,0,144,0,0.8,2,0,3,0
337,54,1,2,125,273,0,0,152,0,0.5,0,1,2,1
801,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
785,55,1,0,160,289,0,0,145,1,0.8,1,1,3,0
231,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
325,56,0,1,140,294,0,0,153,0,1.3,1,0,2,1
69,62,0,0,160,164,0,0,145,0,6.2,0,3,3,0

In [ ]:
# this all above simple random approach

In [ ]:
# reproduce the random selected data use(random_state)this wil fix the same sample

In [49]:
sample4=df2.sample(n=5, random_state=30)
sample4

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
288,58,0,2,120,340,0,1,172,0,0.0,2,0,2,1
132,41,1,1,135,203,0,1,132,0,0.0,1,0,1,1
127,53,1,2,130,197,1,0,152,0,1.2,0,0,2,1
485,62,1,1,120,281,0,0,103,0,1.4,1,1,3,0
834,42,1,0,136,315,0,1,125,1,1.8,1,0,1,0

In [50]:
# train test split approach

In [51]:
# split the dependent and independent variable

In [52]:
X=df2.drop(['target'], axis=1)
Y=df2["target"]

In [53]:
X.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal
0,52,1,0,125,212,0,1,168,0,1.0,2,2,3
1,53,1,0,140,203,1,0,155,1,3.1,0,0,3
2,70,1,0,145,174,0,1,125,1,2.6,0,0,3
3,61,1,0,148,203,0,1,161,0,0.0,2,1,3
4,62,0,0,138,294,1,1,106,0,1.9,1,3,2

In [54]:
# splitting into training and testing data

In [60]:
from sklearn.model_selection import train_test_split

In [62]:
X_train,X_test,Y_train,Y_test=train_test_split(X,Y,train_size=0.80,random_state=10)

In [63]:
print(X_train.shape)

(820, 13)

In [64]:
X_test.shape

(205, 13)

In [66]:
Y_train.shape

(820,)

In [68]:
X_train.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal
483,35,1,1,122,192,0,1,174,0,0.0,2,0,2
751,65,0,2,160,360,0,0,151,0,0.8,2,0,2
752,48,1,1,130,245,0,0,180,0,0.2,1,0,2
305,62,1,0,120,267,0,1,99,1,1.8,1,2,3
253,57,1,0,165,289,1,0,124,0,1.0,1,3,3

In [69]:
Y.value_counts()

1    526
0    499
Name: target, dtype: int64

In [70]:
X_train1,X_test1,Y_train1,Y_test1=train_test_split(X,Y,train_size=0.80,random_state=100, stratify=Y)

In [ ]:
# stratify we apply for imbalanced data Above